:root {
  --shadow: 30%;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  user-select: none;
  font-family: Tahoma, sans-serif;
}

.scrollable {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

#world {
  position: absolute;
  width: 500px;
  height: 500px;
}

.world::before { 
  content: ''; 
  position: absolute; 
  top: 0; left: 0; 
  width: 100%; 
  height: 100%;
  filter: url(#noise-filter); 
}

.item {
  position: absolute;
  opacity: 100%;
}

.shadow {
  background: radial-gradient(ellipse at center,
      rgba(0, 0, 0, var(--shadow)) 0%,
      rgba(0, 0, 0, var(--shadow)) 50%,
      rgba(0, 0, 0, 0) 80%);
  position: absolute;
  transform: rotate(15deg);
}

.buttonize {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 0.25em;
  margin: 0.25em;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.collideZone {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  outline: 1px solid black;
}

.item>svg {
  position: absolute;
}

.item>img {
  position: absolute;
}

.ghost {
  opacity: .5;
  transition: opacity 0.2s ease-in-out;
}

.showGrid {
  outline: 1px solid white;
  position: absolute;
}

.point {
  position: absolute;
  background-color: white;
  width: 1px;
  height: 1px;
}

#overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.controls {
  position: absolute;
  border: 3px solid black;
  background-color: white;
  opacity: 0.1;
  border-radius: .5rem;
}

.control {
  border: 3px solid darkslategray;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: .5rem;
  background: silver;
  cursor: pointer;
}

.buttons {
  position: absolute;
  border: 3px solid maroon;
  background-color: rgb(128, 97, 97);
  opacity: 1;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: .5rem;
}

.buttons:hover {
  background-color: white;
  color: black;
}

.inventoryItem {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.inventoryItem svg {
  width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* Cover the entire area, maintaining aspect ratio */
}

.inventoryItem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* Cover the entire area, maintaining aspect ratio */
}

.qty {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bold;
  color: black;
}

#touchId {
  position: absolute;
  background-color: yellow;
  border: 2px solid maroon;
  border-radius: 50%;
  opacity: 50%;
  width: 20px;
  height: 20px;
}

.dialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
  /* Ensure it's above other content */
}

.dialogContainer {
  background-color: silver;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  width: 500px;
  height: 80%;
  display: flex;
  flex-direction: column;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.dialogHeader {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-right: 2px solid rgba(0, 0, 0, 0.6);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
}

.dialogTitle {
  padding: 0.4rem 0 0.3rem 0.8rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

.dialogClose {
  cursor: pointer;
  background-color: brown;
  font-weight: bold;
  margin-bottom: 0.01rem;
}

.dialogContent {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5rem;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
}

.dialogFooter {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
}

.dialogFooter button {
  cursor: pointer;
}

#blurOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* This allows clicks to pass through */
  z-index: 1;
  /* Adjust as needed to ensure it's on top */
}


.button {
  cursor: pointer;
}

button {
  background-color: rgb(109, 160, 143) !important;
  padding: 0.3rem !important;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(109, 160, 143, .75) !important;
}

#_me>img {
  width: 100%;
}


.msg {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  z-index: 99999999;
}

#msg1 {
  position: absolute;
  top: 0;
  left: 0;
}

#msg2 {
  position: absolute;
  top: 1rem;
  left: 0;
}

#msg3 {
  position: absolute;
  top: 2rem;
  left: 0;
}

@keyframes shrink {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
}